div {
    /*width: 300px;
    height: 300px;
    border: 1px solid black;*/
    background-color: greenyellow;
    margin: 20px;
}

/*.div1, .div2 {
    float: left;
    background-color: red;
    width: 150px;
    height: 100px;
}

.div3 {
    clear: both;
}

.div4 {
    float: right;
    background-color: blueviolet;
    width: 150px;
    height: 100px;
}

.div5{
    clear: both;
}*/

.div1 {
    width: 200px;
    height: 200px;
    background-color: green;
}

.div2, .div3, .div4, .div5 {
    float: left;
    background-color: violet;
    width: 200px;
    height: 200px;
}

/*.div6 {
    clear: both;
} 这个方法不好，用伪元素更优雅 */

.container::after, .container::before {
    content: "";
    display: table;
}

.container::after {
    clear: both;
}